extends layout

block content
  script.
    $(document).ready(function() {
      $("#endDate").val($.format.date(new Date(), 'yyyy-MM-dd'));
      $("#vsv").submit(fetchData);
      $("#info").click(function() { $("#details").toggle(100); });
    });
  script(src='/javascripts/prettycharts.js')
  nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarTop', aria-controls='navbarTop', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='https://clever-rack.herokuapp.com/stores')
      img(src='./SmartRack™ - Stores_files/logo-red.svg', alt='SmartRack.io')
    #navbarTop.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.active(href='https://clever-rack.herokuapp.com/stores')
            | Stores 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='https://clever-rack.herokuapp.com/audience.html') Audience 
        li.nav-item
          a.nav-link(href='https://clever-rack.herokuapp.com/ads.html') Ads
  .container
    .starter-template
      h1 Shelves - Kellogg&apos;s Corporate Cafeteria (Battle Creek, MI)
      p.lead
        | To start your visit, select a date range below.
        a#info(href='http://smartrack.io/shelves/000004.html#')
          i.fa.fa-info-circle(style='font-size:24px')
      span#details(style='display:none;')
        p
          | Cameras on of each shelf of the Smart Rack take photos several times a day and then analyzed by an algorithm to count the number of triangles visible. These counts are expressed as a % full in the chart for each shelf.
        p
          | Photos from intervals from the time period selected are displayed below each shelf.
      form#vsv.form-inline
        input#rackNum(type='hidden', value='000004')
        .form-group
          label(for='startDate') From
          input#startDate.form-control(type='date', value='2017-02-03')
        .form-group
          label(for='endDate') To
          input#endDate.form-control(type='date', value='2017-01-23')
        button.btn.btn-primary(type='submit') View
        i.fa.fa-gear.fa-spin.hidden-xl-down(style='font-size:30px')

      #shelf0.row
        h3 Shelf 1
        .col-md-12
          iframe.chartjs-hidden-iframe(tabindex='-1', style='display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;', src='./SmartRack™ - Shelves_files/saved_resource.html')
          canvas#chart0(style='width: 100%; height: 150px; display: block;', width='1032', height='150')
        #thumbs0.thumbs.col-md-12.nolpadding.norpadding
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-1200.jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-1200.jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/03/01/0-1200.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-1200.jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-2200.jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-2200.jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/03/08/0-2200.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-2200.jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-1600.jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-1600.jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/03/23/0-1600.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-1600.jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-1500.jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-1500.jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/04/01/0-1500.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-1500.jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-2100.jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-2100.jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/04/09/0-2100.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-2100.jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-1200(1).jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-1200(1).jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/04/17/0-1200.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-1200(1).jpg', style='position: absolute; top: 0px; left: 0px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')
          span.thumb-wrap
            a(href='./SmartRack™ - Shelves_files/0-2200(1).jpg')
              span(style='display: inline-block; position: relative; overflow: hidden;')
                img.thumb(src='./SmartRack™ - Shelves_files/0-2200(1).jpg', width='148', title='https://kellogg-smartrack.s3.amazonaws.com/000004/2018/04/24/0-2200.jpg', style='display: block;')
                img.zoomImg(src='./SmartRack™ - Shelves_files/0-2200(1).jpg', style='position: absolute; top: -144.602px; left: -82.1867px; opacity: 0; width: 518.4px; height: 388.8px; border: none; max-width: none; max-height: none;')